<link rel="stylesheet" href="../stylesheets/timeline.css">

<% include ./partials/header.ejs %>

<div class="container pt-5 mt-4">
    <h2 class="display-5">Hello, Gaurvi 👋</h2>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, consequuntur quod nihil, quam
        obcaecati iure similique atque eius et impedit nam eveniet est.</p>
    <a href="/profile" class="btn btn-primary">I Want To Write A Post</a>
    <hr>
    <h4 class="lead">Latest Posts</h4>
    <div class="posts mt-3">
        <div class="post">
            <div class="postTop">
                <div class="usrPrfl">
                    <img class="prflpic"
                        src="https://images.unsplash.com/photo-1521117660421-ce701ed42966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                        alt="">
                </div>
                <div class="postDetails">
                    <h6>Gaurvi Chouhan</h6>
                    <small>Bhopal, India</small>
                </div>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, expedita est exercitationem, rem magni
                veritatis ullam illo rerum officiis suscipit harum ipsa culpa. Pariatur laudantium non, velit labore
                fuga accusamus?</p>
            <small>12 Likes, 12 Love Reactions</small>
            <div class="options">
                <span title="Like" class="icon"><i class="fa fa-heart"></i></span>                
                <span title="Like" class="icon"><i class="fa fa-thumbs-up"></i></span>
                <span title="Like" class="icon"><i class="fa fa-thumbs-down"></i></span>
            </div>
        </div>
        <div class="post">
            <div class="postTop">
                <div class="usrPrfl">
                    <img class="prflpic"
                        src="https://images.unsplash.com/photo-1521117660421-ce701ed42966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                        alt="">
                </div>
                <div class="postDetails">
                    <h6>Gaurvi Chouhan</h6>
                    <small>Bhopal, India</small>
                </div>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, expedita est exercitationem, rem magni
                veritatis ullam illo rerum officiis suscipit harum ipsa culpa. Pariatur laudantium non, velit labore
                fuga accusamus?</p>
            <small>12 Likes, 12 Love Reactions</small>
            <div class="options">
                <span title="Like" class="icon"><i class="fa fa-heart"></i></span>
                <span title="Like" class="icon"><i class="fa fa-thumbs-up"></i></span>
                <span title="Like" class="icon"><i class="fa fa-thumbs-down"></i></span>
            </div>
        </div>
        <div class="post">
            <div class="postTop">
                <div class="usrPrfl">
                    <img class="prflpic"
                        src="https://images.unsplash.com/photo-1521117660421-ce701ed42966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                        alt="">
                </div>
                <div class="postDetails">
                    <h6>Gaurvi Chouhan</h6>
                    <small>Bhopal, India</small>
                </div>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, expedita est exercitationem, rem magni
                veritatis ullam illo rerum officiis suscipit harum ipsa culpa. Pariatur laudantium non, velit labore
                fuga accusamus?</p>
            <small>12 Likes, 12 Love Reactions</small>
            <div class="options">
                <span title="Like" class="icon"><i class="fa fa-heart"></i></span>
                <span title="Like" class="icon"><i class="fa fa-thumbs-up"></i></span>
                <span title="Like" class="icon"><i class="fa fa-thumbs-down"></i></span>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>